* {
  box-sizing: border-box;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.cols {
  float: left;
  padding-left: 1%;
  padding-right: 1%;
}


body {
  font-family: "Geneva", sans-serif;
  color: #2C2D30;
  margin:0;
  background:cover;
  background-image:url("images/runningmmassivejam.jpg");
  background-size: 100%;
  max-height: auto;
  background-color: #2C2D30;
  
}

header {
  margin-top: 25px;
  padding: 20px;
  height:80px;
  color:#FFFFFF;
  text-shadow: 2px 2px #2C2D30;
  margin-bottom: 10px;
}

.row {
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  text-align: left;
}

header h1 {
  line-height: 1;
  top:24px;
  text-align: center;
  font-size: 18px;
}

header .question-and-score {
  font-size: 20px;
  font-weight: 600px;
  color:#FFFFFF;
  background: none;
}

.question-and-score ul {
  text-align:center;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 15px;
  margin-top:30px;
}

.question-and-score li {
  display: inline-block;
  padding:0 2%;
}

button {
  margin-top:10px;
  height: auto;
  width: auto;
  font-size: 18px;
  font-weight: 500;
  box-align: auto;
  text-align: center;
  color:black;
  background: #B3AB91;
  border: 0;
  cursor: pointer;
  margin-bottom: 0;
  border-radius:5%;
  padding: 10px 20px;
  box-shadow: 0 12px 16px 0 #2C2D30, 0 17px 50px 0 #2C2D30;

}

section {
  width:80%;
  padding: 40px;
  margin:0 auto;
  background:#FFFAE8;
  border-radius: 10px;
}

h2 {
  font-weight: 300px;
  font-size: 17px;
  text-align:center;
}

p {
  font-weight: 300px;
  font-size: 15px;
  text-align:center;
}

.question-form .question {
  margin-bottom: 20px;
  padding:  2%;
  font-size: 20px;
  font-weight: 600px;
}

.options ul {
  list-style: none;
  margin:0;
  text-align:left;
}

label {
  font-size:14px;
}

.options span {
  display:block;
  border-radius:5px;
  margin: 10px 20px;
}

.right-answer {
 background:#B3AB91;
 padding: 10px 20px;
 margin: 5px 20px;
 border:2px solid #B3AB91;
}

.wrong-answer {
  background:#FFFFFF;
  padding: 10px;
  margin: 5px 20px;
  border:2px solid #7F86B3;
}

.question-form button {
  float:right;
}

button:hover:enabled,
button:focus:enabled{
  background-color: #7F86B3;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}

button:disabled {
  opacity:0.5;
}

@media screen and (min-width: 500px) {
  section{
  margin-top: 30px;
  }

  body {
  background:cover;
  background-image:url("images/7964018504_58893b7fa6_o.jpg");
  background-size: 100%;
  max-height: auto;
  background-color: #262626;
}

label {
  font-size:18px;
}

header h1 {
  line-height: 1;
  top:24px;
  text-align: center;
  font-size: 24px;
}
h2 {
  font-size: 18px;
}

p {
  font-weight: 300px;
  font-size: 16px;
}

.question-and-score ul {
  text-align:center;
  font-size: 18px;
  margin-top:5px;
}

}